<div id="tab_bar" class="container">
  <div class="row">
    <div id="job_menu" class="col-md-4">
      <div class="job-menu-list">
        <ul class="list">
          <li>
            <b>技术</b>
          </li>
          <li>
            <a href="#">java</a>
          </li>
          <li>
            <a href="#">web前端</a>
          </li>
          <li>
            <a href="#">ruby</a>
          </li>
          <li>
            <i class="fa fa-chevron-right"></i>
          </li>
        </ul>
        <div class="menu-sub" style="display: none;">
          <p>技术</p>
          <ul>
            <li>
              <h4>后端开发</h4>
              <div class="text">
                <a href="#">后端开发</a>
                <a href="#">Java</a>
                <a href="#">C++</a>
                <a href="#">PHP</a>
                <a href="#" class="cur">数据挖掘</a>
                <a href="#">C</a>
                <a href="#">C#</a>
                <a href="#">.NET</a>
                <a href="#">Hadoop</a>
                <a href="#">Python</a>
                <a href="#">Delphi</a>
                <a href="#">VB</a>
                <a href="#">Perl</a>
                <a href="#">Ruby</a>
                <a href="#">Node.js</a>
                <a href="#">搜索算法</a>
                <a href="#">Golang</a>
                <a href="#">自然语言处理</a>
                <a href="#">推荐算法</a>
                <a href="#">Erlang</a>
                <a href="#" class="cur">算法工程师</a>
                <a href="#">语音/视频/图形开发</a>
                <a href="#">数据采集</a>
              </div>
            </li>
            <li>
              <h4>移动开发</h4>
              <div class="text">
                <a>移动开发</a>
                <a>HTML5</a>
                <a>Android</a>
                <a>iOS</a>
                <a>WP</a>
                <a>移动web前端</a>
                <a>Flash</a>
                <a>JavaScript</a>
                <a>U3D</a>
                <a>COCOS2DX</a>
              </div>
            </li>
            <li>
              <h4>测试</h4>
              <div class="text">
                <a>测试工程师</a>
                <a>自动化测试</a>
                <a>功能测试</a>
                <a>性能测试</a>
                <a>测试开发</a>
                <a>移动端测试</a>
                <a>游戏测试</a>
                <a>硬件测试</a>
                <a>软件测试</a>
              </div>
            </li>
            <li>
              <h4>运维/技术支持</h4>
              <div class="text">
                <a>运维工程师</a>
                <a>运维开发工程师</a>
                <a>网络工程师</a>
                <a>系统工程师</a>
                <a>IT技术支持</a>
                <a>系统管理员</a>
                <a>网络安全</a>
                <a>系统安全</a>
                <a>DBA</a>
              </div>
            </li>
            <li>
              <h4>数据</h4>
              <div class="text">
                <a>数据</a>
                <a>ETL工程师</a>
                <a>数据仓库</a>
                <a>数据开发</a>
                <a>数据挖掘</a>
                <a>数据分析师</a>
                <a>数据架构师</a>
                <a>算法研究员</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="job-menu-list">
        <ul class="list">
          <li>
            <b>产品</b>
          </li>
          <li>
            <a href="#">产品经理</a>
          </li>
          <li>
            <a href="#">产品总监</a>
          </li>
          <li></li>
          <li>
            <i class="fa fa-chevron-right"></i>
          </li>
        </ul>
        <div class="menu-sub" style="display: none;">
          <p>产品</p>
          <ul>
            <li>
              <h4>产品经理</h4>
              <div class="text">
                <a href="#">产品经理</a>
                <a href="#">Java</a>
                <a href="#">C++</a>
                <a href="#">PHP</a>
                <a href="#" class="cur">数据挖掘</a>
                <a href="#">C</a>
                <a href="#">Ruby</a>
                <a href="#">Node.js</a>
                <a href="#">搜索算法</a>
                <a href="#">Golang</a>
                <a href="#">自然语言处理</a>
                <a href="#">推荐算法</a>
                <a href="#">Erlang</a>
              </div>
            </li>
            <li>
              <h4>游戏策划</h4>
              <div class="text">
                <a>移动开发</a>
                <a>HTML5</a>
                <a>Android</a>
                <a>iOS</a>
                <a>WP</a>
                <a>移动web前端</a>
                <a>Flash</a>
                <a>JavaScript</a>
                <a>U3D</a>
                <a>COCOS2DX</a>
              </div>
            </li>
            <li>
              <h4>电商产品经理</h4>
              <div class="text">
                <a>测试工程师</a>
                <a>自动化测试</a>
                <a>功能测试</a>
                <a>性能测试</a>
                <a>测试开发</a>
                <a>移动端测试</a>
                <a>游戏测试</a>
                <a>硬件测试</a>
                <a>软件测试</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="job-menu-list">
        <ul class="list">
          <li>
            <b>设计</b>
          </li>
          <li>
            <a href="#">UI设计</a>
          </li>
          <li>
            <a href="#">产品设计</a>
          </li>
          <li></li>
          <li>
            <i class="fa fa-chevron-right"></i>
          </li>
        </ul>
        <div class="menu-sub" style="display: none;">
          <p>设计</p>
          <ul>
            <li>
              <h4>视觉设计</h4>
              <div class="text">
                <a href="#">视觉设计</a>
                <a href="#">网页设计师</a>
                <a href="#">APP设计师</a>
                <a href="#">UI设计</a>
                <a href="#">C</a>
                <a href="#">Ruby</a>
                <a href="#">Node.js</a>
                <a href="#">平面设计</a>
                <a href="#">Golang</a>
                <a href="#">自然语言处理</a>
                <a href="#">推荐算法</a>
                <a href="#">Erlang</a>
              </div>
            </li>
            <li>
              <h4>交互设计</h4>
              <div class="text">
                <a>移动开发</a>
                <a>HTML5</a>
                <a>Android</a>
                <a>iOS</a>
                <a>WP</a>
                <a>移动web前端</a>
                <a>Flash</a>
                <a>JavaScript</a>
                <a>U3D</a>
                <a>COCOS2DX</a>
              </div>
            </li>
            <li>
              <h4>用户研究</h4>
              <div class="text">
                <a>测试工程师</a>
                <a>自动化测试</a>
                <a>功能测试</a>
                <a>性能测试</a>
                <a>测试开发</a>
                <a>移动端测试</a>
                <a>游戏测试</a>
                <a>硬件测试</a>
                <a>软件测试</a>
              </div>
            </li>
            <li>
              <h4>非视觉设计</h4>
              <div class="text">
                <a>运维工程师</a>
                <a>运维开发工程师</a>
                <a>网络工程师</a>
                <a>系统工程师</a>
                <a>IT技术支持</a>
                <a>系统管理员</a>
                <a>网络安全</a>
                <a>系统安全</a>
                <a>DBA</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="job-menu-list">
        <ul class="list">
          <li>
            <b>金融</b>
          </li>
          <li>
            <a href="#">投资经理</a>
          </li>
          <li>
            <a href="#">投资总监</a>
          </li>
          <li>
            <a href="#">风控</a>
          </li>
          <li>
            <i class="fa fa-chevron-right"></i>
          </li>
        </ul>
        <div class="menu-sub" style="display: none;">
          <p>产品</p>
          <ul>
            <li>
              <h4>产品经理</h4>
              <div class="text">
                <a href="#">产品经理</a>
                <a href="#">Java</a>
                <a href="#">C++</a>
                <a href="#">PHP</a>
                <a href="#" class="cur">数据挖掘</a>
                <a href="#">C</a>
                <a href="#">Ruby</a>
                <a href="#">Node.js</a>
                <a href="#">搜索算法</a>
                <a href="#">Golang</a>
                <a href="#">自然语言处理</a>
                <a href="#">推荐算法</a>
                <a href="#">Erlang</a>
              </div>
            </li>
            <li>
              <h4>游戏策划</h4>
              <div class="text">
                <a>移动开发</a>
                <a>HTML5</a>
                <a>Android</a>
                <a>iOS</a>
                <a>WP</a>
                <a>移动web前端</a>
                <a>Flash</a>
                <a>JavaScript</a>
                <a>U3D</a>
                <a>COCOS2DX</a>
              </div>
            </li>
            <li>
              <h4>电商产品经理</h4>
              <div class="text">
                <a>测试工程师</a>
                <a>自动化测试</a>
                <a>功能测试</a>
                <a>性能测试</a>
                <a>测试开发</a>
                <a>移动端测试</a>
                <a>游戏测试</a>
                <a>硬件测试</a>
                <a>软件测试</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="job-menu-list">
        <ul class="list">
          <li>
            <b>运营</b>
          </li>
          <li>
            <a href="#">新媒体运营</a>
          </li>
          <li>
            <a href="#">编辑</a>
          </li>
          <li>
            <a href="#">数据运营</a>
          </li>
          <li>
            <i class="fa fa-chevron-right"></i>
          </li>
        </ul>
        <div class="menu-sub" style="display: none;">
          <p>产品</p>
          <ul>
            <li>
              <h4>产品经理</h4>
              <div class="text">
                <a href="#">产品经理</a>
                <a href="#">Java</a>
                <a href="#">C++</a>
                <a href="#">PHP</a>
                <a href="#" class="cur">数据挖掘</a>
                <a href="#">C</a>
                <a href="#">Ruby</a>
                <a href="#">Node.js</a>
                <a href="#">搜索算法</a>
                <a href="#">Golang</a>
                <a href="#">自然语言处理</a>
                <a href="#">推荐算法</a>
                <a href="#">Erlang</a>
              </div>
            </li>
            <li>
              <h4>游戏策划</h4>
              <div class="text">
                <a>移动开发</a>
                <a>HTML5</a>
                <a>Android</a>
                <a>iOS</a>
                <a>WP</a>
                <a>移动web前端</a>
                <a>Flash</a>
                <a>JavaScript</a>
                <a>U3D</a>
                <a>COCOS2DX</a>
              </div>
            </li>
            <li>
              <h4>电商产品经理</h4>
              <div class="text">
                <a>测试工程师</a>
                <a>自动化测试</a>
                <a>功能测试</a>
                <a>性能测试</a>
                <a>测试开发</a>
                <a>移动端测试</a>
                <a>游戏测试</a>
                <a>硬件测试</a>
                <a>软件测试</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="job-menu-list">
        <ul class="list">
          <li>
            <b>市场</b>
          </li>
          <li>
            <a href="#">市场营销</a>
          </li>
          <li>
            <a href="#">市场推广</a>
          </li>
          <li>
            <a href="#">市场策划</a>
          </li>
          <li>
            <i class="fa fa-chevron-right"></i>
          </li>
        </ul>
        <div class="menu-sub" style="display: none;">
          <p>产品</p>
          <ul>
            <li>
              <h4>产品经理</h4>
              <div class="text">
                <a href="#">产品经理</a>
                <a href="#">Java</a>
                <a href="#">C++</a>
                <a href="#">PHP</a>
                <a href="#" class="cur">数据挖掘</a>
                <a href="#">C</a>
                <a href="#">Ruby</a>
                <a href="#">Node.js</a>
                <a href="#">搜索算法</a>
                <a href="#">Golang</a>
                <a href="#">自然语言处理</a>
                <a href="#">推荐算法</a>
                <a href="#">Erlang</a>
              </div>
            </li>
            <li>
              <h4>游戏策划</h4>
              <div class="text">
                <a>移动开发</a>
                <a>HTML5</a>
                <a>Android</a>
                <a>iOS</a>
                <a>WP</a>
                <a>移动web前端</a>
                <a>Flash</a>
                <a>JavaScript</a>
                <a>U3D</a>
                <a>COCOS2DX</a>
              </div>
            </li>
            <li>
              <h4>电商产品经理</h4>
              <div class="text">
                <a>测试工程师</a>
                <a>自动化测试</a>
                <a>功能测试</a>
                <a>性能测试</a>
                <a>测试开发</a>
                <a>移动端测试</a>
                <a>游戏测试</a>
                <a>硬件测试</a>
                <a>软件测试</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="job-menu-list">
        <ul class="list">
          <li>
            <b>销售</b>
          </li>
          <li>
            <a href="#">销售经理</a>
          </li>
          <li>
            <a href="#">销售总监</a>
          </li>
          <li></li>
          <li>
            <i class="fa fa-chevron-right"></i>
          </li>
        </ul>
        <div class="menu-sub" style="display: none;">
          <p>产品</p>
          <ul>
            <li>
              <h4>产品经理</h4>
              <div class="text">
                <a href="#">产品经理</a>
                <a href="#">Java</a>
                <a href="#">C++</a>
                <a href="#">PHP</a>
                <a href="#" class="cur">数据挖掘</a>
                <a href="#">C</a>
                <a href="#">Ruby</a>
                <a href="#">Node.js</a>
                <a href="#">搜索算法</a>
                <a href="#">Golang</a>
                <a href="#">自然语言处理</a>
                <a href="#">推荐算法</a>
                <a href="#">Erlang</a>
              </div>
            </li>
            <li>
              <h4>游戏策划</h4>
              <div class="text">
                <a>移动开发</a>
                <a>HTML5</a>
                <a>Android</a>
                <a>iOS</a>
                <a>WP</a>
                <a>移动web前端</a>
                <a>Flash</a>
                <a>JavaScript</a>
                <a>U3D</a>
                <a>COCOS2DX</a>
              </div>
            </li>
            <li>
              <h4>电商产品经理</h4>
              <div class="text">
                <a>测试工程师</a>
                <a>自动化测试</a>
                <a>功能测试</a>
                <a>性能测试</a>
                <a>测试开发</a>
                <a>移动端测试</a>
                <a>游戏测试</a>
                <a>硬件测试</a>
                <a>软件测试</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div id="slider" class="col-md-8 slider">
      <div id="carousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel" data-slide-to="0" class="active"></li>
          <li data-target="#carousel" data-slide-to="1"></li>
          <li data-target="#carousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img src="assets/carouse1.jpg" alt="">
          </div>
          <div class="item">
            <img src="assets/carouse2.jpg" alt="">
          </div>
          <div class="item">
            <img src="assets/carouse1.jpg" alt="">
          </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
  </div>
</div>

<script>
  window.onload = function () {
    var job_menu = $("job_menu");
    var allJobLists = job_menu.getElementsByClassName("job-menu-list");
    var allSubs = job_menu.getElementsByClassName("menu-sub");

    for (var i = 0; i < allJobLists.length; i++) {
      var list = allJobLists[i];
      list.index = i;
      list.onmouseover = function () {
        allSubs[this.index].style.display = "block";
      }
      list.onmouseout = function () {
        allSubs[this.index].style.display = "none";
      }
    }

    function $(id) {
      return typeof id === "string"
        ? document.getElementById(id)
        : null;
    }
  }
</script>
