<table class="table table-hover">
  <thead>
    <tr>
      <th>职位名称</th>
      <th>工作内容</th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= link_to job.title, job_path(job) %></td>
        <td><%= job.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>
