<section id="banner" class="banner">
  <div class="overlay">
    <div class="banner-content">
      <h3>欢迎来到乐聘</h3>
      <p>在这里 你会找到一份满意的工作</p>
      <a href="/jobs" class="btn btn-lg btn-black">去找工作<span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
  </div>
</section>
