<h3><%= @job.title %>收到的简历</h3>

<table class="table">
  <thead>
    <th></th>
    <th></th>
  </thead>

  <tbody>
    <% @resumes.each do |resume| %>
      <tr>
        <td><%= resume.content %></td>
        <td><%= resume.attachment %></td>
      </tr>
    <% end %>
  </tbody>
</table>
