/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require_tree .
 *= require_self
 */
@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap";
/********************************导航的样式***********************************/
.navbar-lp {
  height: 50px;
  background: #202329;
  margin-bottom: 0;
  border-color: transparent;
}

.navbar-lp .container,
.navbar-lp .container .row {
  height: 50px;
}

.navbar-lp .navbar-header img {
  margin-top: 5px; 
}

.navbar-default .navbar-nav li a {
  color: #d2cbcb;
  margin-top: 0;
}

.navbar-default .navbar-nav li.active a {
  color: #00d7c6;
  background-color: transparent;
  margin-left: 20px;
}

.navbar-default .navbar-nav li a:hover,
.navbar-default .navbar-nav li.active a:hover {
  color: #00d7c6;
  background-color: transparent;
}
/********************************导航的样式***********************************/
/********************************搜索框的样式***********************************/

/********************************搜索框的样式***********************************/
