<div class="col-md-12">
  <br>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>工作</th>
        <th>投递时间</th>
      </tr>
    </thead>

    <tbody>
      <% @resumes.each do |resume| %>
        <tr>
          <td><%= resume.job.title %></td>
          <td><%= resume.created_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

